## 用的话只需要更改read_csv的文件路径和to_csv的文件路径

## 1.导入库

In [26]:
from sklearn.feature_extraction import DictVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## 2.读入数据

In [27]:
df = pd.read_csv('郑州高新区链家.csv','|',names = ['城市','区域','户型','面积','朝向','装修','楼层','板塔','房价'])
df

      城市   区域    户型      面积   朝向  装修  楼层    板塔     房价
0     郑州  高新区  3室2厅   87.27    南  精装  34    板楼  130.0
1     郑州  高新区  4室2厅  131.03   南北  精装  27  板塔结合  255.0
2     郑州  高新区  4室2厅  128.21  南西北  精装  34    板楼  165.0
3     郑州  高新区  3室1厅   87.74    南  简装   7    板楼  136.0
4     郑州  高新区  3室2厅   90.65    南  精装  32  板塔结合  126.0
...   ..  ...   ...     ...  ...  ..  ..   ...    ...
2228  郑州  高新区  3室1厅   45.87   西南  精装  18    板楼  200.0
2229  郑州  高新区  3室2厅  120.53   南北  简装  32  板塔结合  210.0
2230  郑州  高新区  2室1厅  120.53    西  其他   9    板楼   60.0
2231  郑州  高新区  2室1厅  120.53   东南  精装  20  板塔结合   68.0
2232  郑州  高新区  3室2厅  128.14   东南  毛坯  34    板楼  148.0

[2233 rows x 9 columns]

## 3.数据清洗

In [28]:
df.shape
df.dropna()
df.drop_duplicates()

      城市   区域    户型      面积   朝向  装修  楼层    板塔     房价
0     郑州  高新区  3室2厅   87.27    南  精装  34    板楼  130.0
1     郑州  高新区  4室2厅  131.03   南北  精装  27  板塔结合  255.0
2     郑州  高新区  4室2厅  128.21  南西北  精装  34    板楼  165.0
3     郑州  高新区  3室1厅   87.74    南  简装   7    板楼  136.0
4     郑州  高新区  3室2厅   90.65    南  精装  32  板塔结合  126.0
...   ..  ...   ...     ...  ...  ..  ..   ...    ...
2228  郑州  高新区  3室1厅   45.87   西南  精装  18    板楼  200.0
2229  郑州  高新区  3室2厅  120.53   南北  简装  32  板塔结合  210.0
2230  郑州  高新区  2室1厅  120.53    西  其他   9    板楼   60.0
2231  郑州  高新区  2室1厅  120.53   东南  精装  20  板塔结合   68.0
2232  郑州  高新区  3室2厅  128.14   东南  毛坯  34    板楼  148.0

[2079 rows x 9 columns]

### 3.1获取房价

In [29]:
Y_FangJia = df['房价']
Y_FangJia

0       130.0
1       255.0
2       165.0
3       136.0
4       126.0
        ...
2228    200.0
2229    210.0
2230     60.0
2231     68.0
2232    148.0
Name: 房价, Length: 2233, dtype: float64

### 3.2户型

In [30]:
X_HuXing = df['户型']
X_HuXing.value_counts()

3室2厅    717
2室1厅    425
2室2厅    390
3室1厅    237
1室1厅    163
1室0厅    131
4室2厅    116
4室1厅     21
5室2厅     10
5室3厅      5
4室3厅      5
1室2厅      4
6室3厅      3
5室1厅      2
9室3厅      1
2室0厅      1
6室2厅      1
6室7厅      1
Name: 户型, dtype: int64

### 3.3朝向

In [31]:
# 把其他朝向改为南
X_ChaoXiang = df['朝向']
X_ChaoXiang
X_ChaoXiang.value_counts()

南         807
南北        618
北         171
东南        136
东          96
西          82
西南         80
东北         56
西北         42
北南         19
南西南        16
南西         15
东南南        14
南东南        10
东西          8
南东          6
东南北         6
南西北         5
南北西         4
南东北         3
西西北         3
南西南北        3
西南北         2
北东北         2
西北北         2
西南西         2
东南南西南       2
东东南         2
北东南         1
东东南南西南      1
北南西         1
东南南北        1
西南东南        1
西东北         1
东北北         1
西南西南        1
东东南南        1
东南南东        1
东西北         1
北西          1
东南东南        1
东南南西西北      1
东南西         1
北东          1
南西南西        1
东南西北        1
东北东北        1
南北东         1
西西北北        1
Name: 朝向, dtype: int64

In [32]:
for i in range(df.shape[0]):
    if X_ChaoXiang[i] != '南' and X_ChaoXiang[i] != '北' and X_ChaoXiang[i] != '西' and X_ChaoXiang[i] != '东':
        X_ChaoXiang[i] = '南'
X_ChaoXiang.value_counts()

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

南    1884
北     171
东      96
西      82
Name: 朝向, dtype: int64

In [33]:
# 替换原数据
pd.concat([df,X_ChaoXiang],axis=1)
df['朝向'].value_counts()

南    1884
北     171
东      96
西      82
Name: 朝向, dtype: int64

### 3.4装修

In [34]:
# 把其他改为简装
X_ZhuangXiu = df['装修']
X_ZhuangXiu
X_ZhuangXiu.value_counts()

精装    988
简装    747
其他    346
毛坯    152
Name: 装修, dtype: int64

In [35]:
for i in range(df.shape[0]):
    if X_ZhuangXiu[i] == '其他':
        X_ZhuangXiu[i] = '简装'
X_ZhuangXiu.value_counts()

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

简装    1093
精装     988
毛坯     152
Name: 装修, dtype: int64

In [36]:
pd.concat([df,X_ZhuangXiu],axis=1)
df['装修'].value_counts()

简装    1093
精装     988
毛坯     152
Name: 装修, dtype: int64

### 3.5板塔

In [37]:
# 板塔
X_BanTa = df['板塔']
X_BanTa
X_BanTa.value_counts()

板楼      1227
板塔结合     741
塔楼       240
暂无数据      24
平房         1
Name: 板塔, dtype: int64

In [38]:
for i in range(df.shape[0]):
    if X_BanTa[i] == '暂无数据' or X_BanTa[i] == '平房':
        X_BanTa[i] = '板楼'
X_BanTa.value_counts()

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

板楼      1252
板塔结合     741
塔楼       240
Name: 板塔, dtype: int64

In [39]:
pd.concat([df,X_BanTa],axis=1)
df['板塔'].value_counts()
df

      城市   区域    户型      面积 朝向  装修  楼层    板塔     房价
0     郑州  高新区  3室2厅   87.27  南  精装  34    板楼  130.0
1     郑州  高新区  4室2厅  131.03  南  精装  27  板塔结合  255.0
2     郑州  高新区  4室2厅  128.21  南  精装  34    板楼  165.0
3     郑州  高新区  3室1厅   87.74  南  简装   7    板楼  136.0
4     郑州  高新区  3室2厅   90.65  南  精装  32  板塔结合  126.0
...   ..  ...   ...     ... ..  ..  ..   ...    ...
2228  郑州  高新区  3室1厅   45.87  南  精装  18    板楼  200.0
2229  郑州  高新区  3室2厅  120.53  南  简装  32  板塔结合  210.0
2230  郑州  高新区  2室1厅  120.53  西  简装   9    板楼   60.0
2231  郑州  高新区  2室1厅  120.53  南  精装  20  板塔结合   68.0
2232  郑州  高新区  3室2厅  128.14  南  毛坯  34    板楼  148.0

[2233 rows x 9 columns]

## 4.处理文本类特征

### 转为整型

In [40]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
# housing_cat = housing["ocean_proximity"]
# housing_cat是一个二维数组，一列存储行数，一列存储对应的ocean_proximity

In [41]:
X_HuXing = encoder.fit_transform(X_HuXing)
for i in range(X_HuXing.size):
    df['户型'][i] = X_HuXing[i]
df['户型']
# print(X_HuXing)
# # 类型
print(encoder.classes_)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
['1室0厅' '1室1厅' '1室2厅' '2室0厅' '2室1厅' '2室2厅' '3室1厅' '3室2厅' '4室1厅' '4室2厅'
 '4室3厅' '5室1厅' '5室2厅' '5室3厅' '6室2厅' '6室3厅' '6室7厅' '9室3厅']

In [42]:
# X_ChaoXiang = encoder.fit_transform(X_ChaoXiang)
# for i in range(X_ChaoXiang.size):
#     df['朝向'][i] = X_ChaoXiang[i]
# df['朝向']
# # print(X_HuXing)
# # # 类型
# print(encoder.classes_)

### 对文本类数据进行独热编码

In [43]:
# df = pd.get_dummies(df,columns = ['户型','朝向','装修','板塔'])
df = pd.get_dummies(df,columns = ['朝向','装修','板塔'])

In [44]:
df

,城市,区域,户型,面积,楼层,房价,朝向_东,朝向_北,朝向_南,朝向_西,装修_毛坯,装修_简装,装修_精装,板塔_塔楼,板塔_板塔结合,板塔_板楼
0,郑州,高新区,7,87.27,34,130.0,0,0,1,0,0,0,1,0,0,1
1,郑州,高新区,9,131.03,27,255.0,0,0,1,0,0,0,1,0,1,0
2,郑州,高新区,9,128.21,34,165.0,0,0,1,0,0,0,1,0,0,1
3,郑州,高新区,6,87.74,7,136.0,0,0,1,0,0,1,0,0,0,1
4,郑州,高新区,7,90.65,32,126.0,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,郑州,高新区,6,45.87,18,200.0,0,0,1,0,0,0,1,0,0,1
2229,郑州,高新区,7,120.53,32,210.0,0,0,1,0,0,1,0,0,1,0
2230,郑州,高新区,4,120.53,9,60.0,0,0,0,1,0,1,0,0,0,1
2231,郑州,高新区,4,120.53,20,68.0,0,0,1,0,0,0,1,0,1,0
2232,郑州,高新区,7,128.14,34,148.0,0,0,1,0,1,0,0,0,0,1

### 获取列名

In [45]:
columns = df.columns.values
columns

array(['城市', '区域', '户型', '面积', '楼层', '房价', '朝向_东', '朝向_北', '朝向_南', '朝向_西',
       '装修_毛坯', '装修_简装', '装修_精装', '板塔_塔楼', '板塔_板塔结合', '板塔_板楼'],
      dtype=object)

### 把房价放到最后

In [46]:
price = df.pop('房价')
df

,城市,区域,户型,面积,楼层,朝向_东,朝向_北,朝向_南,朝向_西,装修_毛坯,装修_简装,装修_精装,板塔_塔楼,板塔_板塔结合,板塔_板楼
0,郑州,高新区,7,87.27,34,0,0,1,0,0,0,1,0,0,1
1,郑州,高新区,9,131.03,27,0,0,1,0,0,0,1,0,1,0
2,郑州,高新区,9,128.21,34,0,0,1,0,0,0,1,0,0,1
3,郑州,高新区,6,87.74,7,0,0,1,0,0,1,0,0,0,1
4,郑州,高新区,7,90.65,32,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,郑州,高新区,6,45.87,18,0,0,1,0,0,0,1,0,0,1
2229,郑州,高新区,7,120.53,32,0,0,1,0,0,1,0,0,1,0
2230,郑州,高新区,4,120.53,9,0,0,0,1,0,1,0,0,0,1
2231,郑州,高新区,4,120.53,20,0,0,1,0,0,0,1,0,1,0
2232,郑州,高新区,7,128.14,34,0,0,1,0,1,0,0,0,0,1

In [47]:
df.insert(loc=df.shape[1], column='房价', value=price, allow_duplicates=False)
df

,城市,区域,户型,面积,楼层,朝向_东,朝向_北,朝向_南,朝向_西,装修_毛坯,装修_简装,装修_精装,板塔_塔楼,板塔_板塔结合,板塔_板楼,房价
0,郑州,高新区,7,87.27,34,0,0,1,0,0,0,1,0,0,1,130.0
1,郑州,高新区,9,131.03,27,0,0,1,0,0,0,1,0,1,0,255.0
2,郑州,高新区,9,128.21,34,0,0,1,0,0,0,1,0,0,1,165.0
3,郑州,高新区,6,87.74,7,0,0,1,0,0,1,0,0,0,1,136.0
4,郑州,高新区,7,90.65,32,0,0,1,0,0,0,1,0,1,0,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,郑州,高新区,6,45.87,18,0,0,1,0,0,0,1,0,0,1,200.0
2229,郑州,高新区,7,120.53,32,0,0,1,0,0,1,0,0,1,0,210.0
2230,郑州,高新区,4,120.53,9,0,0,0,1,0,1,0,0,0,1,60.0
2231,郑州,高新区,4,120.53,20,0,0,1,0,0,0,1,0,1,0,68.0
2232,郑州,高新区,7,128.14,34,0,0,1,0,1,0,0,0,0,1,148.0

## 5.导出处理好的文件

In [48]:
df.to_csv('郑州高新区数据.csv',sep = '|',index=None)